%p
  Name: #{@user.name}

%p
  - if @user.facebook_authed?
    Facebook account authorized
    (#{link_to 'remove', identity_path(@user.get_identity('facebook')), method: :delete})
  - else
    = link_to 'Connect Facebook account', omniauth_authorize_path('user', 'facebook')

%p
  - if @user.google_authed?
    Google account authorized
    (#{link_to 'remove', identity_path(@user.get_identity('google')), method: :delete})
  - else
    = link_to 'Connect Google account', omniauth_authorize_path('user', 'google_oauth2')

%p
  Facebook pages you can publish to:
  - if @facebook_pages
    %ul
      %li
        Some pages here
  - else
    %p
      %i
        None.
